function Queue.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
push argument 1
call List.new 2
pop this 2
push constant 1
pop this 0
push this 2
pop this 1
push pointer 0
return
function Queue.size 0
push argument 0
pop pointer 0
push this 0
return
function Queue.push 1
push argument 0
pop pointer 0
push argument 1
push argument 2
call List.new 2
pop local 0
push this 1
push local 0
call List.setNext 2
pop temp 0
push local 0
pop this 1
push this 0
push constant 1
add
pop this 0
push constant 0
return
function Queue.pop 2
push argument 0
pop pointer 0
push this 2
call List.getNext 1
pop local 0
push this 2
call List.getX 1
push this 2
call List.getY 1
call List.new 2
pop local 1
push this 2
call Memory.deAlloc 1
pop temp 0
push local 0
pop this 2
push this 0
push constant 1
sub
pop this 0
push local 1
return
function Queue.contains 1
push argument 0
pop pointer 0
push this 2
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call List.getX 1
push argument 1
eq
push local 0
call List.getY 1
push argument 2
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push local 0
call List.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Queue.dispose 0
push argument 0
pop pointer 0
push this 2
call List.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
