function Snake.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 3
pop this 2
push constant 1
pop this 3
push argument 2
pop this 4
push this 0
push this 1
call Queue.new 2
pop this 5
push pointer 0
push constant 0
not
push this 0
push this 1
call Snake.paintSquare 4
pop temp 0
push pointer 0
return
function Snake.incrementLength 0
push argument 0
pop pointer 0
push this 3
push constant 1
add
pop this 3
push constant 0
return
function Snake.setDirection 0
push argument 0
pop pointer 0
push argument 1
push constant 2
call Math.mod 2
push this 2
push constant 2
call Math.mod 2
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop this 2
label IF_FALSE0
push constant 0
return
function Snake.paintSquare 0
push argument 0
pop pointer 0
push argument 1
call Screen.setColor 1
pop temp 0
push argument 2
push argument 3
push argument 2
push this 4
add
push constant 1
sub
push argument 3
push this 4
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Snake.draw 1
push argument 0
pop pointer 0
push this 5
push this 0
push this 1
call Queue.push 3
pop temp 0
push this 3
push this 5
call Queue.size 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 5
call Queue.pop 1
pop local 0
push pointer 0
push constant 0
push local 0
call List.getX 1
push local 0
call List.getY 1
call Snake.paintSquare 4
pop temp 0
label IF_FALSE0
push pointer 0
push constant 0
not
push this 0
push this 1
call Snake.paintSquare 4
pop temp 0
push constant 0
return
function Snake.crashesWith 0
push argument 0
pop pointer 0
push this 0
push argument 1
call Fruit.getX 1
eq
push this 1
push argument 1
call Fruit.getY 1
eq
and
return
function Snake.crashed 0
push argument 0
pop pointer 0
push this 0
push constant 0
lt
push this 0
push constant 511
gt
or
push this 1
push constant 0
lt
or
push this 1
push constant 255
gt
or
push this 5
push this 0
push this 1
call Queue.contains 3
or
return
function Snake.move 0
push argument 0
pop pointer 0
push this 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 4
sub
pop this 0
label IF_FALSE0
push this 2
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push this 4
sub
pop this 1
label IF_FALSE1
push this 2
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 4
add
pop this 0
label IF_FALSE2
push this 2
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push this 4
add
pop this 1
label IF_FALSE3
push constant 0
return
function Snake.dispose 0
push argument 0
pop pointer 0
push this 5
call Queue.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
